// MIXINS && VARIABLES

@mixin basic-box-shadow($color) {
  box-shadow: 3px 3px 5px 5px $color, 1px 0px 1px $color;
}

$main-color: brown;
$accent-color: darken($main-color, 20%);
$background-color: lighten($main-color, 40%);

// LAYOUT

body {
  background-color: $background-color;
  color: $main-color;
  display: flex;
  flex-direction: column;
}




.morning-rush-header {
  width: 65vw;
  height: 150px;
  border: 1px solid black;
  background: rgba(255,255,255, .6);
  margin: auto;
  text-align: center;
  line-height: 150px;
  font-size: 46px;
  color: black;
  text-transform: uppercase;
  letter-spacing: 40px;
}

.order-queue {
  position:absolute;
  left: 3%;
  height: 65vh;
  width: 15vw;
  border: 1px solid black;
  padding: 20px;
  box-sizing: border-box;
  font-size: 30px;
  color: black;
  background: rgba(255,255,255, .6);

  &:hover {
    background: rgba(255,255,255,.8)
  }
}

.points-total {
  position: absolute;
  top: 3%;
  left: 3.5%;
  height: 120px;
  width: 13vw;
  color: black;
  border: 1px solid black;
  background: rgba(255,255,255, .6);

  &:hover {
    background: rgba(255,255,255,.8)
  }
}

canvas {
  width: 800px;
  height: 500px;
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

